{
	"SRC_PATH": "../src",
	"BIN_PATH": "../bin",
	
	"ENTRY_POINT": "main", 
	"SRC_EXT": [".c", ".cpp", ".c++"],
	
	"INCLUDE_DIR": ["../src/core", "../src/include", "../dep/glfw/include", "../dep/glew/include"], 

	"CLEAN_EXT": [".o"],

	"BUILD_TARGET":{
		"clang": ["win64"]
	},	
	
	"TARGETS": {
		"win64":{
			"LIBS": ["../dep/glfw/win64/glfw3.lib", 
					 "../dep/glew/lib/Release/x64/glew32s.lib", 
					 "opengl32.lib",
					 "gdi32.lib",
					 "kernel32.lib",
					 "user32.lib",
					 "shell32.lib",
					 "MSVCRT.lib"],
			"CFLAGS": "-std=c++14 -Wall -pthread",
			"LDFLAGS": "-Wl,-NODEFAULTLIB:LIBCMT"
		}, 
		"linux64":{
			"LIBS": ["GL"],
			"CFLAGS":"-Wall",
			"LDFLAGS":"-Wl"
		},
		"qnx-x86-64":{
			"LIBS":[],
			"CFLAGS":"-Wall",
			"LDFLAGS":"-Wl"
		}, 
		"qnx-aarch64le":{
			"LIBS":[],
			"CFLAGS":"-Wall",
			"LDFLAGS":"-Wl"
		}
	}
}
