{
	"clang":{
		"win64":{
			"BIN_EXTENTION":".exe",
			"INC_PREFIX":"-I",
			"LIB_PREFIX":"-l", 
			"BUILD_CMD":"clang++ -c [CFLAGS] [INCLUDE_DIRS] -o [OBJ_PATH] [SRC_FILE]", 
			"LINK_CMD": "clang++ -o [BIN] [LDFLAGS] [OBJ_FILES] [LIBS]"
		},
		"linux64":{
			"BIN_EXTENTION":"",
			"INC_PREFIX":"-I",
			"LIB_PREFIX":"-l", 
			"BUILD_CMD":"clang++ -c [CFLAGS] [INCLUDE_DIRS] -o [OBJ_PATH] [SRC_FILE]", 
			"LINK_CMD": "clang++ -o [BIN] [LDFLAGS] [OBJ_FILES] [LIBS]"
		}
	},
	"qcc":{
		"qnx-x86-64":{
			"BIN_EXTENTION":"",
			"INC_PREFIX":"-I",
			"LIB_PREFIX":"-l", 
			"BUILD_CMD":"qcc -lang-c++ -Vgcc_ntox86_64 -c [CFLAGS] [INCLUDE_DIRS] -o [OBJ_PATH] [SRC_FILE]", 
			"LINK_CMD": "qcc -lang-c++ -Vgcc_ntox86_64 -o [BIN] [LDFLAGS] [OBJ_FILES] [LIBS]"
		}, 
		"qnx-aarch64le":{
			"BIN_EXTENTION":"",
			"INC_PREFIX":"-I",
			"LIB_PREFIX":"-l", 
			"BUILD_CMD":"qcc -lang-c++ -Vgcc_ntoaarch64le -c [CFLAGS] [INCLUDE_DIRS] -o [OBJ_PATH] [SRC_FILE]", 
			"LINK_CMD": "qcc -lang-c++ -Vgcc_ntoaarch64le -o [BIN] [LDFLAGS] [OBJ_FILES] [LIBS]"
		}
	},
	"javac":{
		"jvm":{
			"BIN_EXTENTION":".jar",
			"INC_PREFIX":"-I",
			"LIB_PREFIX":"-l", 
			"BUILD_CMD":"", 
			"LINK_CMD": "javac -o [BIN] [LDFLAGS] [OBJ_FILES] [LIBS]"
		}
	}
}
